<div class="header">
    <div class="header-content">
        <h1>Bank App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Account">My Account</a></li>
                <li><a href="/Services">Services</a></li>
                <li><a href="/Contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</div>
