<div class="sidebar-content">
    <ul>
        <li><a href=@Url.Action("Index","Account")>Account</a></li>
        <li><a href="/Transactions">Transactions</a></li>
        <li><a href=@Url.Action("Index","Commission")>Commission</a></li>
        <li><a href=@Url.Action("Index","Payment")>Payment</a></li>
        <li><a href=@Url.Action("Index","Demand")>DemandRequests</a></li> 
        <li><a href=@Url.Action("Index","Renewal")>ListOfRenewals</a></li>
        <li><a href="/Settings">Reports</a></li>
    </ul>
</div>
